<div class="container pt-4">
  <div class="row">
    <% @user_rewards.each do |user_reward| %>
      <div class="col-md-4">
        <div class="card mb-4", id="card-user-reward" >
          <div class="card-body" data-controller="promo-code">
            <h5 class="card-title" style="font-weight-bold; color: #895f33;"><%= user_reward.reward.name %></h5>
            <p class="card-text"><b>Réduction: </b><%= user_reward.reward.reduction %> %</p>
    <div class="border-0 d-flex justify-content-between">
      <p class="card-text">
          <b>Prix: </b>
          <del class="text-danger"><%= user_reward.reward.price %> €</del>
      </p>
      <p class="card-text">
          <b>Prix réduit: </b>
          <%= user_reward.reduction_price %> €</p>
    </div>
            <div class="progress">
              <% if user_reward.progress == 'pending' %>
                <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              <% elsif user_reward.progress == 'used' %>
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              <% end %>
            </div>
            <p class="card-text">
              <% if user_reward.progress == 'pending' %>
                <i>En cours</i>
              <% elsif user_reward.progress == 'used' %>
                <i>Terminé</i>
              <% end %>
             </p>
            <div class="d-flex justify-content-between">
              <div class="d-flex flex-column">
                <button data-action="click->promo-code#showCode" data-promo-code-target="button" class="btn simpleButton mt-2">Code promo</button>
                <div data-promo-code-target="code" class="mt-2" style="display: none; position: relative;">
                  <span id="promo-code-<%= user_reward.id %>" style="display: none;"><%= user_reward.reward.promocode %></span>
                  <span id="feedback-text" style="display: none;">Copié !</span>
                </div>
              </div>
              <%= link_to "Acheter !", user_reward.reward.link, class: "btn simpleButton", style: "max-height: 52px;" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
