<div class="container w-100">
  <div class="p-3 border-bottom mt-2 mb-2">
    <%= render "doogcount" %>
  </div>

  <div class="p-3 d-flex justify-content-center">
    <h2 class="font-weight-bold">Les bons plans  <i class="fa-solid fa-coins"></i></h2>
  </div>

  <div class="container">
    <div class="plaisir1">
      <h4> <i class="fa-solid fa-unlock" style="color: #23ca02;"></i></i> <i class="fa-solid fa-paw mb-3 ms-3" style="color: #895f33;"> 50 </i></h4>
      <%= render "doogpresent50" %>
    </div>
  </div>

  <div class="container">
    <div class="plaisir2">
      <h4> <i class="fa-solid fa-unlock" style="color: #23ca02;"></i></i> <i class="fa-solid fa-paw mb-3 ms-3" style="color: #895f33;"> 100 </i></h4>
            <%= render "doogpresent100" %>
    </div>
  </div>

  <div class="container">
    <div class="plaisir3">
      <h4> <i class="fa-solid fa-lock" style="color: #ff0000;"></i></i> <i class="fa-solid fa-paw mb-3 ms-3" style="color: #895f33;"> 150 </i></h4>
            <%= render "doogpresent150" %>
    </div>
  </div>

  <div class="container">
    <div class="plaisir4">
      <h4> <i class="fa-solid fa-lock" style="color: #ff0000;"></i> <i class="fa-solid fa-paw mb-3 ms-3" style="color: #895f33;"> 200 </i></h4>
            <%= render "doogpresent200" %>
    </div>
  </div>
</div>
