<div class="container w-100">
  <div class="p-3 border-bottom mt-2 mb-2">
    <%= render "doogcount" %>
  </div>

  <div class="p-3 d-flex justify-content-center">
    <h2 class="font-weight-bold">Les bons plans  <i class="fa-solid fa-coins"></i></h2>
  </div>

  <div class="container">
    <%= render "doogpresents", rewards: Reward.where('money <= ?', 50), reduction: 10, filter: 50 %>
  </div>

  <div class="container">
    <%= render "doogpresents", rewards: Reward.where('money BETWEEN ? AND ?', 50, 100), reduction: 15, filter: 100 %>
  </div>

  <div class="container">
    <%= render "doogpresents", rewards: Reward.where('money BETWEEN ? AND ?', 100, 150), reduction: 20, filter: 150 %>
  </div>

  <div class="container">
    <%= render "doogpresents", rewards: Reward.where('money >= ?', 200), reduction: 30, filter: 200 %>
  </div>
</div>
