<div class="navbar navbar-expand-lg bg-white w-100" id="topbar">
  <div class="container-fluid w-100 justify-content-center align-items-center h-100">
    <% count = rand(1..4) %>
    <% if user_signed_in? %>
      <%= link_to root_path, class: "logo" do %>
        <%= image_tag "#{count}.png", class: "image-logo" %>
      <% end %>
    <% end %>
    <% if user_signed_in? %>
      <% if params[:controller] == "courses" && params[:action] == "index" %>
        <h1>Bienvenue <%= current_user.firstname %></h1>
      <% elsif params[:controller] == "courses" && params[:action] == "show" %>
        <h1><%= @course.name %></h1>
      <% elsif params[:controller] == "rides" && params[:action] == "edit" %>
        <h1>En route !</h1>
      <% elsif params[:controller] == "rides" && params[:action] == "navigate" %>
        <h1><%= @course.name %></h1>
      <% elsif params[:controller] == "rides" && params[:action] == "show" %>
        <h1>Ma Balade</h1>
      <% elsif params[:controller] == "users" && params[:action] == "show" %>
        <h1>Mon profil</h1>
      <% elsif params[:controller] == "dogs" && params[:action] == "index" %>
        <h1>Ma meute</h1>
      <% elsif params[:controller] == "rewards" && params[:action] == "index" %>
        <h1>Récompenses</h1>
      <% elsif params[:controller] == "user_rewards" && params[:action] == "index" %>
        <h1>Mes récompenses</h1>
      <% elsif params[:controller] == "rides" && params[:action] == "map" %>
        <h1>Les courses autour de vous !</h1>
      <% end %>
    <% else %>
      <%= link_to root_path do %>
        <%= image_tag "#{count}.png", height: "100px" %>
      <% end %>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to rewards_path do %>
      <small class="doogs-container" style="color: #895f33; font-weight: 600; font-size: 17px;"><%= current_user.money %><span class="doogs nav-link">D</span></small>
      <% end %>
    <% end %>
  </div>
</div>
