<div data-controller="filter" data-filter-target="list">
  <div class="d-flex">
    <div class="dropdown">
      <button class="btn btn dropdown-toggle" type="button" id="dropdownFilters" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
        Filtres
      </button>
      <%# <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> %>
        <%= simple_form_for(:filter, url: root_path, method: "GET", html: { class: 'dropdown-menu', data: { filter_target: "form" }} ) do |f| %>
          <%= f.input :water,
                      as: :boolean,
                      label: 'Eau',
                      wrapper_html: { class: 'dropdown-item' },
                      input_html: { checked: params[:filter] && params[:filter][:water] == "1", data: { filter_target: "water", action: "click->filter#sort" }  }
                      %>
          <%= f.input :trashs,
                      as: :boolean,
                      label: 'Déchets',
                      wrapper_html: { class: 'dropdown-item' },
                      input_html: { checked: params[:filter] && params[:filter][:trashs] == "1", data: { filter_target: "trash", action: "click->filter#sort" }   }
                      %>
          <%= f.input :poopbag,
                      as: :boolean,
                      label: 'Sac à crottes',
                      wrapper_html: { class: 'dropdown-item' },
                      input_html: { checked: params[:filter] && params[:filter][:poopbag] == "1", data: { filter_target: "poop", action: "click->filter#sort" }   }
                      %>
          <%= f.input :familyfriendly,
                      as: :boolean,
                      label: 'Convient aux familles',
                      wrapper_html: { class: 'dropdown-item' },
                      input_html: { checked: params[:filter] && params[:filter][:familyfriendly] == "1", data: { filter_target: "fam", action: "click->filter#sort" }   }
                      %>
          <%# <%= f.button :submit, "Filtrer", class: 'btn btn-primary dropdown-item' %>
        <% end %>
      <%# </div> %>
    </div>

    <div class="dropdown">
      <button class="btn btn dropdown-toggle" type="button" id="dropdownFilters" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
        Lieux
      </button>
      <%# <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> %>
         <%= simple_form_for(:filter, url: root_path, method: "GET", html: { class: 'dropdown-menu', data: { filter_target: "form" }} ) do |f| %>
          <%= f.input :water,
                      as: :boolean,
                      label: 'Eau',
                      wrapper_html: { class: 'dropdown-item' },
                      input_html: { checked: params[:filter] && params[:filter][:water] == "1", data: { filter_target: "water", action: "click->filter#sort" }  }
                      %>
          <%= f.input :trashs,
                      as: :boolean,
                      label: 'Déchets',
                      wrapper_html: { class: 'dropdown-item' },
                      input_html: { checked: params[:filter] && params[:filter][:trashs] == "1", data: { filter_target: "trash", action: "click->filter#sort" }   }
                      %>
          <%= f.input :poopbag,
                      as: :boolean,
                      label: 'Sac à crottes',
                      wrapper_html: { class: 'dropdown-item' },
                      input_html: { checked: params[:filter] && params[:filter][:poopbag] == "1", data: { filter_target: "poop", action: "click->filter#sort" }   }
                      %>
          <%= f.input :familyfriendly,
                      as: :boolean,
                      label: 'Convient aux familles',
                      wrapper_html: { class: 'dropdown-item' },
                      input_html: { checked: params[:filter] && params[:filter][:familyfriendly] == "1", data: { filter_target: "fam", action: "click->filter#sort" }   }
                      %>
          <%# <%= f.button :submit, "Filtrer", class: 'btn btn-primary dropdown-item' %>
        <% end %>
      <%# </div> %>
    </div>
  </div>

  <div class="p-3 d-flex justify-content-start">
    <h1 class="font-weight-bold" style="color: #D19B62;">Suggestions</h1>
  </div>

  <%= render "list", courses: @courses %>
</div>
