<div class="modal fade" id="myModalAvis" tabindex="-1" aria-labelledby="modal avis" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body border-0 p-0">
        <div id="carouselExampleFade" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            <% @reviews.each do |review| %>
              <div class="carousel-item bg-body <%= 'active' if review == @reviews.first %>">
                <div class="card shadow p-3 m-3 bg-body-tertiary rounded" style="width: 91%;">
                  <p class="card-text"><%= review.user.firstname %> <%= review.user.lastname %></p>
                  <div class="card-body">
                    <p class="card-text"><%= review.comment %></p>
                    <p class="card-text">Note: <%= review.rating %>/5</p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Précédent</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Suivant</span>
      </button>
    </div>
  </div>
</div>


<div class="container">
  <div class="card d-flex p-1 justify-content-center my-3">
    <div style="height: 230px; width: 100%;;">
      <%= render 'shared/map', course: @course, style_list: "width: 100%; height: 215px; border-radius: 20px; box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.4)" %>
      <% if Ride.exists?(user: current_user, course: @course) %>
        <i class="fa-solid fa-medal" style="font-size: 2rem; position: absolute; left: 15px; top: 15px; z-index: 1;"></i>
      <% end %>
      <%= link_to :back, class: 'btn btn-lg', style: 'border: none; position: absolute; right: 5px; top: 5px;' do %>
        <div class= "btn-return"><i class="fa-solid fa-arrow-left" style="font-size: 2rem;"></i></div>
      <% end %>
    </div>
    <div class="d-flex justify-content-center p-1">
      <button type="button" id="simpleButton" class="border-0 btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalPhoto">Photo de la course</button>
    </div>
    <div class="modal fade" id="modalPhoto" tabindex="-1" aria-labelledby="modal photo" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body border-0 p-0">
            <!-- Carrousel -->
            <div id="carouselPhotos" class="carousel slide carousel-fade">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <%= cl_image_tag @course.photos.last.key, crop: "fill", height: 300, width: 380  %>
                </div>
                <% @course.photos.each do |photo| %>
                  <div class="carousel-item">
                    <%= cl_image_tag photo.key, crop: "fill", height: 300, width: 380 %>
                  </div>
                <% end %>
              <!-- Ajoutez d'autres éléments de carrousel si nécessaire -->
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselPhotos" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Précédent</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselPhotos" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Suivant</span>
              </button>
            </div>
            <!-- Fin du carrousel -->
          </div>
        </div>
      </div>
    </div>
    <h2><%= @course.name %></h2>
    <div class="d-flex mb-3" style="color: #895f33;">
      <div class="me-auto p-2">
        <% @course.average.to_i.times do %>
          <i class="fa-solid fa-star"></i>
        <% end %>
        <% (5 - @course.average.to_i).times do %>
          <i class="fa-regular fa-star"></i>
        <% end %>
      </div>
      <button type="button" style="color: #895f33;" class="border-0 bg-white" data-bs-toggle="modal" data-bs-target="#myModal">
        <% if @course.trashs %>
          <i class="fa fa-trash"></i>
        <% end %>
        <% if @course.water %>
          <i class="fa-solid fa-droplet"></i>
        <% end %>
        <% if @course.poopbag %>
          <i class="fa-solid fa-poo"></i>
        <% end %>
        <% if @course.familyfriendly %>
          <i class="fa-solid fa-people-group"></i>
        <% end %>
      </button>
      <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body border-0 row">
              <p class= "col-6">Poubelles: <i class="fa fa-trash"></i></p>
              <p class= "col-6">Points d'eau: <i class="fa-solid fa-droplet"></i></p>
              <p class= "col-6">Sacs canin: <i class="fa-solid fa-poo"></i></p>
              <p class= "col-6">Convient au famille: <i class="fa-solid fa-people-group"></i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container m-0">
      <div class="row row-cols-2 mb-3" style="color: #895f33;">
        <div class="col-sm-4">Distance : <%= @course.distance %>km</div>
        <div class="col-sm-4">Difficulté : <%= @course.difficulty %>/5</div>
        <div class="col-sm-4">Timing : <%= @course.timing %>min</div>
      </div>
      <div class="col-12">Description : <%= @course.description %></div>
    </div>
    <div class="d-flex justify-content-center">
      <button type="button" id="buttonAvis" class="border-0 btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModalAvis">Avis</button>
    </div>
    <div class="d-flex justify-content-center" data-controller="redirect-ride" data-redirect-ride-course-value="<%= [{ lat: @course.latitude, lng: @course.longitude}].to_json %>">
      <%= link_to 'En route !', course_rides_path(@course), data: { 'turbo-method' => :post }, class: 'btn btn-primary btn-launch-ride', id: "buttonRide" %>
    </div>
  </div>
</div>
