
<div class= "container">
<div class="py-3">
  <h2><%= @ride.course.name %> </h2>
    <% @ride.course.average.to_i.times do %>
      <i class="fa-solid fa-star"></i>
    <% end %>
    <% (5 - @ride.course.average.to_i).times do %>
      <i class="fa-regular fa-star"></i>
    <% end %>
</div>
      <%= render 'shared/map', course: @ride.course, style_list: "width: 100%; height: 215px; border-radius: 20px; box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.4)" %>
        <div class="d-flex justify-content-around p-2">
          <div class="col-sm-4"><%= @ride.course.timing %>min</div>
          <div class="col-sm-4"><%= @ride.course.distance %>m</div>
          <div class="col-sm-4"><%= @ride.course.distance %>m</div>
        </div>
          <div class="d-flex justify-content-around align-items-center">
            <i class="fa-regular fa-clock fa-2x"></i>
            <i class="fa-solid fa-location-dot fa-2x"></i>
            <p class="col-sm-3 fa-2x m-0">D</p>
          </div>
          <div class="d-flex p-4 justify-content-center align-items-center">
          <% unless Review.where(user: current_user, course: @ride.course).any? %>
            <button type="button" class="border-0" data-bs-toggle="modal" data-bs-target="#modalDonneAvis" id="buttonAvis">Donne ton avis !</button>
            <% end %>
            <div class="modal fade" id="modalDonneAvis" tabindex="-1" aria-labelledby="modal donne avis" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-body border-0 p-0">
                    <div class="col-sm-6">
                      <div class="card" data-controller="rating-stars">
                        <div class="card-body">
                          <h2 class="card-title">Laisse un avis pour ta course !</h2>
                            <hr>
                            <p class="card-text p-5">
                          <h2>Laisser un avis :</h2>
                            <%= form_with(model: [@ride, @review], local: true) do |form| %>
                          <div class="field">
                            <%= form.label :rating, 'Note' %><br>
                            <div class="rating-stars">
                              <% (1..5).each do |i| %>
                              <input type="radio" id="rating_<%= i %>" name="review[rating]" value="<%= i %>" style="display: none;">
                              <label for="rating_<%= i %>" class="rating-star">
                                <i class="fas fa-star"></i>
                              </label>
                                <% end %>
                            </div>
                              <%= form.label :comment, 'Commentaire' %><br>
                              <%= form.text_area :comment %>
                                <br>
                              <%= form.submit 'Valider', class: "btn btn-primary" %>
                          </div>
                              <% end %>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex p-4 justify-content-center align-items-center">
          <div class="text-right" id="buttonRide" >
          <%= link_to "Dépense tes Doogs", rewards_path, class: 'center-button' %>
          </div>
</div>
</div>
